<h1 class="main_header">Помощь</h1>
<p>
	<%= link_to 'О нас', about_path %>
	<%= link_to 'Главная страница', root_path %>
</p>

<p>Данный раздел находится в разработке, так как функционал приложения не реализован.</p>