<h1 class="main_header">О нас</h1>
<p>
	<%= link_to 'Главная страница', root_path %>
	<%= link_to 'Помощь', help_path %>
</p>

<h1 class="main_header">TODO-приложение для ведения списка дел.</h1>
<p>Приложение позволяет:</p>
<ul class="list">
	<li>Cоздавать запись о&nbsp;деле, предоставляя возможность задать 
	 название, описание и&nbsp;дату предстоящего дела;</li>

	<li>Редактировать уже созданные ранее дела (исправлять ошибки, 
			корректировать дату); </li>

	<li>Удалять дела, созданные по&nbsp;ошибке;</li>

	<li>Отмечать дело как выполненное</li>
</ul>
